@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');

/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import highlight.js */

body:not(.dark) {
  @import "highlight.js/scss/vs.scss";
}

body.dark {
  @import "highlight.js/scss/vs2015.scss";
}


/** Import KaTeX */
@import "katex/dist/katex";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "common/dark";
// @import "components/doks";
@import "components/code";
@import "components/alerts";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "components/search";
// @import "components/tables";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";

.dropdown-lang {
  margin-left: 20px;


  .btn {
    box-shadow: none;
    margin: 0;
    background: transparent;
    border: 0;
    padding: 2px 4px 2px 2px;
    color: $black;

    .dark & {
      color: $gray-300;
    }
  }

  img {
    height: 22px;
  }

  .dropdown-menu {
    min-width: 5rem;
    padding: 0;
    background: #3d4042;

    .dropdown-item {
      color: $gray-300;
      text-decoration: none;

      &:hover {
        background: #3d4042;
      }
    }
  }
}


.tag {
  display: inline-block;
  padding: 0.3em 01em 0.3em;
  border-radius: 12px;
  background: #454e56;
  color: #b2becd;
  font-weight: 600;
  margin: 0.25em 0.1em;
  box-shadow: 0 0 8px #00000054;

  &.tag-javascript {
    background: #f7df1e;
    color: black;
  }

  &.tag-typescript {
    background: #2f74c0;
    color: #f7f7f7;
  }

  &.tag-python {
    background: #407eb0;
    color: #ffdf5a;
  }

  &.tag-html {
    background: #dd4b25;
    color: #f7f7f7;
  }

  &.tag-go {
    background: #fff;
    color: #00acd7;
  }

  &.tag-c\+\+ {
    background: #5b92c8;
    color: #f7f7f7;
  }

  &.tag-c\# {
    background: #67217a;
    color: #fff;
  }

  &.tag-php {
    background: #777bb3;
    color: #000;

    /**
      text-shadow:
      1px 1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      -1px -1px 0 #fff;
    */
  }

  &.tag-scss {
    color: #fff;
    background: #cf649a;
  }

  &.tag-git {
    background: #f1f1e9;
    color: #413932;
  }

  &.tag-android {
    background: #a4c639;
    color: #333;
  }

  &.tag-node {
    background: #7EC729;
    color: #3F3F35;
  }

  &.tag-angular {
    background: #DD0031;
    color: #F7F7F7;
  }

  &.tag-django {
    background: #103E2E;
    color: #FFFFFF;
  }

  &.tag-docker {
    background: #2495ED;
    color: #FFFFFF;
  }

  &.tag-ionic {
    color: #3880FF;
    background: #FFFFFF;
  }

  &.tag-react {
    color: #7DDFFF;
    background: #000;
  }
}

.i18n-switcher {
  display: flex;
  margin: 0 12px;
  text-decoration: none !important;
  align-items: center;

  img {
    height: 25px;
    margin-left: 15px;
  }

  span {
    font-size: 14px;
    padding-left: 5px;
    color: $black;

    .dark & {
      color: $gray-300;
    }
  }
}


.highlight {
  margin-bottom: 30px;

  table {
    tr {
      vertical-align: top;

      td:first-child {
        min-width: 50px;
        text-align: right;
      }

      td:nth-child(2) {
        min-width: 550px;
        width: 550px;
        max-width: 550px;
      }
    }
  }
}

body:not(.dark) .hljs {
  background: #f1f3f4;
}

body.dark .hljs {
  background: #181a1c;
}

pre, code {
  white-space: pre;
  overflow-x: auto;
}
.hljs {
  display: inline-block;
  overflow-x: auto;
  padding: 0.5em;
  padding-right: 100%;
}
